.task {
  background: #cfcccc;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.task:hover{
  transition: 0.2s all ease-in-out;
    transform: scale(0.98);
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}