<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text" [ngStyle]="{ 'font-weight': 600 }">Task</label>
    <input
      [(ngModel)]="text"
      type="text"
      name="text"
      id="text"
      placeholder="Add Task"
    />
  </div>
  <div class="form-control">
    <label for="day" [ngStyle]="{ 'font-weight': 600 }">Day & Time</label>
    <input
      [(ngModel)]="day"
      type="datetime-local"
      name="day"
      id="day"
      placeholder="Add Day & Time"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder" [ngStyle]="{ 'font-weight': 600 }"
      >Set Reminder</label
    >
    <input
      [(ngModel)]="reminder"
      type="checkbox"
      name="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
